@model Employee
@{
    ViewData["Title"]="ProfileResult";
    Layout="_LoginUser";
}
<style>
        body 
        {
            background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63483.jpg?w=900&t=st=1679307462~exp=1679308062~hmac=d439f6280f78604b3834f65357b10c2f7190fc7ded95a62ef720aa7e6f459ac0");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
        }
        .b1
        {
            display: block;
            margin-left: 9em;
            background-color: white;
            height: 2em;
            width: 6em;
            border-radius: 1em;
            margin-left: 20%;
            margin-top: 10%;
            background: rgb(34, 33, 33);
            color: rgb(247, 247, 247);
            cursor: pointer;
            margin-left: 0%;
            margin-top: 1%;
        }
        .b1:hover
        {
            background: rgb(68, 149, 204);
            color: black;
        } 
</style>
<h1>Profile</h1>
<img style="margin-top: -8%;margin-left: 12%;" src="https://cdn-icons-png.flaticon.com/512/709/709722.png"width ="37px" height="37px" >

<table style="background-color: whitesmoke;" width="35%"  border="2">
    
<body>
        @* <tr>
            <td><img src=@Model.ProfilePIC style="margin-bottom: 8%;border-style: solid;border-radius: 50%; margin-top: 2%;margin-left: 45%;width:130px; height:130px;"></td>
        </tr> *@
        <tr>
            <td><strong>Employee ID  </strong></td>
            <td>@Model.EmployeeID </td>
        </tr>
        <tr>
            <td><strong> Employee Name &emsp;&emsp;&emsp;</strong></td>
            <td>@Model.EmployeeName</td>
        </tr>
        <tr>
            <td><strong>Age </strong></td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td><strong>Salary </strong></td>
            <td>@Model.Salary</td>
        </tr>
        <tr>
            <td><strong>Department </strong></td>
            <td>@Model.Department</td>
        </tr>
        <tr>
            <td><strong>Email </strong></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><strong>Password </strong></td>
            <td>@Model.Password</td>
        </tr>
         <tr>
            <td><strong>Mobile Number </strong></td>
            <td>@Model.MobileNumber</td>
        </tr>
          <tr>
            <td><strong>Nationality </strong></td>
            <td>@Model.Nationality</td>
        </tr>
          <tr>
            <td><strong>State </strong></td>
            <td>@Model.State</td>
        </tr>
          <tr>
            <td><strong>Date Of Birth </strong></td>
            <td>@Model.DateOfBirth</td>
        </tr>
          <tr>
            <td><strong>Gender </strong></td>
            <td>@Model.Gender</td>
        </tr>
          <tr>
            <td><strong>Account Number</strong></td>
            <td>@Model.AccountNo</td>
        </tr>
</body>
</table>

<form method="get" asp-controller="User" asp-action="Index">
<button class="b1" type="submit">Go Back</button>
</form>

<img src=@Model.ProfilePIC style="border-style: solid;border-radius: 50%; margin-top: -40%;margin-left: 50%;width:450px; height:450px;">